<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{section.settings.top_url}}"><img id="top_logo" src="{{ section.settings.image_box | img_url: 'master' }}" alt="{{ section.settings.image_box.alt }}"></a>
      <!--<a href="/cart" class="tb_menu ml-auto pr-3">
      <span class="navbar-text ">
        <i class="fas fa-shopping-cart fa-lg"></i>
      </span>
      <span class="navbar-text ">
        カート({{cart.item_count}})
      </span>
      </a>-->
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>--!>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul id="nav_default" class="navbar-nav mr-auto">
          <div id="nav_right_side">
            <div id="login_icon">
              {% if shop.customer_accounts_enabled %}
                  {% if customer %}
                    <li class="nav-item"><a class="nav-link" href="/account/logout">
                      <svg class="logout_icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16 9v-4l8 7-8 7v-4h-8v-6h8zm-16-7v20h14v-2h-12v-16h12v-2h-14z"/></svg>
                    </a></li>
                  {% else %}
                    <li class="nav-item"><a class="nav-link" href="/account/login">
                    <svg class="login_icon" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M20.822 18.096c-3.439-.794-6.64-1.49-5.09-4.418 4.72-8.912 1.251-13.678-3.732-13.678-5.082 0-8.464 4.949-3.732 13.678 1.597 2.945-1.725 3.641-5.09 4.418-3.073.71-3.188 2.236-3.178 4.904l.004 1h23.99l.004-.969c.012-2.688-.092-4.222-3.176-4.935z"/></svg>
                    </a></li>
                  {% endif %}
              {% endif %}
            </div>
              <a href="/cart">
                <span class="navbar-text ">
                  <i class="fas fa-shopping-cart fa-lg"></i>
                </span>
                <span class="navbar-text cart_all ">
                  <svg id="cart_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>
                  {%if cart.item_count >= 1%}
                    <div id="cart_count">{{cart.item_count}}</div>
                  {% else %}
                  {% endif %}
                </span>
              </a>
          </div>
          <!-- リンクをひとつずつ取り出す -->
          <div id="humberger"><span id="hum_btn_top"></span><span id="hum_btn_middle"></span><span id="hum_btn_bottom"></span></div>
          <div id="menu_open">
            <a  href="{{section.settings.top_url}}"><img id="menu_logo" src="{{ section.settings.menu_logo | img_url: 'master' }}" alt="{{ section.settings.image_box.alt }}"></a>
            <ul class="menu_link">
              {% for link in linklists.main-menu.links %}
              <li class="menu-item">
                <!-- リンクの名前をchild_list_handleで定義 -->
                {% assign child_list_handle = link.title | handleize %}
                <!-- リンクのchild_linkが空でなかったら（リンクが下の階層を持っていたら） -->
                {% if linklists[child_list_handle].links != blank %}
                <!-- ドロップダウンメニューを出す -->
                <div class="dropdown drop-hover">
                  <!-- href="{{ link.url }}"でリンクのURLを指定 -->
                  <a class="nav-link dropdown-toggle" href="{{ link.url }}">
                    <!-- {{ link.title }}でタイトルを表示 -->
                    {{ link.title }}
                  </a>
                  <ul class="dropdown-menu">
                    <!-- 下の階層のリンクを1つずつ取り出す -->
                    {% for childlink in linklists[child_list_handle].links %}
                    <!-- その名前をsub_list_handleとして定義する -->
                    {% assign sub_list_handle = childlink.title | handleize %}
                    <!-- sub_list_handleがあったら -->
                    {% if linklists[sub_list_handle].links != blank %}
                    <!-- ドロップダウンメニューを出す -->
                    <li class="dropright drop-hover">
                      <a class="dropdown-item dropdown-toggle" href="{{ childlink.url }}"
                        data-toggle="dropdown">{{ childlink.title }}</a>
                      <ul class="dropdown-menu">
                        <!-- sub_list_handleのタイトルを1つずつ表示 -->
                        {% for sublink in linklists[sub_list_handle].links %}
                        <li>
                          <a class="dropdown-item" href="{{ sublink.url }}">{{ sublink.title }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </li>
                    {%else%}
                    <li>
                      <a class="dropdown-item" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                    </li>
                    {%endif%}
                    {% endfor %}
                  </ul>
                </div>
                {%else%}
                <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                {%endif%}
              </li>
              {% endfor %}
              <ul class="menu-under">
                <li class="menu_sns">
                  <a href="/cart">
                    <span class="navbar-text ">
                      <i class="fas fa-shopping-cart fa-lg"></i>
                    </span>
                    <span class="navbar-text cart_all ">
                      <svg id="cart_icon_menu" data-name="グループ 352" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="68.406" height="59.271" viewBox="0 0 68.406 59.271">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="長方形_65" data-name="長方形 65" width="68.406" height="59.271" transform="translate(0 0)" fill="none" stroke="#fff" stroke-width="1"/>
                          </clipPath>
                          <clipPath id="clip-path-2">
                            <rect id="長方形_66" data-name="長方形 66" width="68.406" height="59.271" transform="translate(0 0)" fill="#fff"/>
                          </clipPath>
                        </defs>
                        <g id="グループ_15" data-name="グループ 15">
                          <g id="グループ_14" data-name="グループ 14" clip-path="url(#clip-path)">
                            <path id="パス_18" data-name="パス 18" d="M68.406,3.406H57.6l-3.5,10.56H3.406l6.751,22.141H46.425l-2.886,9.538H11.557" fill="none" stroke="#fff" stroke-linejoin="round" stroke-width="6.813"/>
                          </g>
                        </g>
                        <line id="線_16" data-name="線 16" x1="7.674" y2="22.141" transform="translate(46.426 13.966)" fill="none" stroke="#fff" stroke-linejoin="round" stroke-width="6.813"/>
                        <g id="グループ_17" data-name="グループ 17">
                          <g id="グループ_16" data-name="グループ 16" clip-path="url(#clip-path-2)">
                            <path id="パス_19" data-name="パス 19" d="M23.783,55.183A4.088,4.088,0,1,1,19.695,51.1a4.088,4.088,0,0,1,4.088,4.088" fill="#fff"/>
                            <path id="パス_20" data-name="パス 20" d="M42.518,55.183A4.088,4.088,0,1,1,38.43,51.1a4.088,4.088,0,0,1,4.088,4.088" fill="#fff"/>
                          </g>
                        </g>
                      </svg>

                      {%if cart.item_count >= 1%}
                        <div id="cart_count">{{cart.item_count}}</div>
                      {% else %}
                      {% endif %}
                    </span>
                  </a>
                </li>
                <li class="menu_sns">
                  <a href="{{section.settings.twitter}}" class="text-white">
                      <i class="fab fa-twitter">
                        <svg class="menu_sns" id="グループ_182" data-name="グループ 182" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="54.067" height="43.517" viewBox="0 0 54.067 43.517">
                            <defs>
                              <clipPath id="clip-path">
                                <rect id="長方形_88" data-name="長方形 88" width="54.067" height="43.517" fill="#311d10"/>
                              </clipPath>
                            </defs>
                            <g id="グループ_23" data-name="グループ 23" transform="translate(0 0)" clip-path="url(#clip-path)">
                              <path id="パス_21" data-name="パス 21" d="M45.941,3.573s4.866-.664,6.8-2.433c0,0-1.382,4.092-4.036,5.474a13.8,13.8,0,0,0,5.64-1.05s-3.815,4.755-5.253,5.529c0,0-.892,14.933-8.312,22.747-7.377,7.768-11.715,8.841-18.169,9.637s-18.037-1.5-21.219-4.509c0,0,9.9.884,15.384-4.42,0,0-8.046-1.591-9.549-7.869h4.067S2.718,22.611,3.072,15.626a20.863,20.863,0,0,0,4.6,1.149S-.2,10.5,4.752,2.365c0,0,8.664,10.786,22.457,11.14,0,0-.8-9.195,5.924-11.936a11.66,11.66,0,0,1,12.809,2" transform="translate(-0.862 -0.309)" fill="#efefef"/>
                              <path id="パス_22" data-name="パス 22" d="M45.941,3.573s4.866-.664,6.8-2.433c0,0-1.382,4.092-4.036,5.474a13.8,13.8,0,0,0,5.64-1.05s-3.815,4.755-5.253,5.529c0,0-.892,14.933-8.312,22.747-7.377,7.768-11.715,8.841-18.169,9.637s-18.037-1.5-21.219-4.509c0,0,9.9.884,15.384-4.42,0,0-8.046-1.591-9.549-7.869h4.067S2.718,22.611,3.072,15.626a20.863,20.863,0,0,0,4.6,1.149S-.2,10.5,4.752,2.365c0,0,8.664,10.786,22.457,11.14,0,0-.8-9.195,5.924-11.936A11.66,11.66,0,0,1,45.941,3.573Z" transform="translate(-0.862 -0.309)" fill="#efefef" stroke="#efefef" stroke-miterlimit="10" stroke-width="1"/>
                            </g>
                        </svg>
                      </i>
                  </a>
                </li>
                <li class="menu_sns">
                  <a href="{{section.settings.instagram}}" class="text-white">
                      <i class="fab fa-instagram">
                          <svg class="menu_sns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="41.883" height="41.883" viewBox="0 0 41.883 41.883">
                            <defs>
                              <clipPath id="clip-path">
                                <rect id="長方形_146" data-name="長方形 146" width="41.883" height="41.883" fill="none" stroke="#efefef" stroke-width="1"/>
                              </clipPath>
                            </defs>
                            <g id="グループ_181" data-name="グループ 181" transform="translate(0 0)">
                              <g id="グループ_47" data-name="グループ 47" transform="translate(0 0)" clip-path="url(#clip-path)">
                                <path id="長方形_145" data-name="長方形 145" d="M7.689,0H29.243a7.689,7.689,0,0,1,7.689,7.689V29.243a7.688,7.688,0,0,1-7.688,7.688H7.689A7.689,7.689,0,0,1,0,29.242V7.689A7.689,7.689,0,0,1,7.689,0Z" transform="translate(2.475 2.476)" fill="none" stroke="#efefef" stroke-miterlimit="10" stroke-width="3.532"/>
                                <path id="パス_37" data-name="パス 37" d="M25.8,8.066a2.485,2.485,0,1,1-2.485-2.485A2.485,2.485,0,0,1,25.8,8.066" transform="translate(8.365 2.242)" fill="#efefef" stroke="#efefef" stroke-width="1"/>
                                <path id="パス_38" data-name="パス 38" d="M17.928,11.1A6.832,6.832,0,1,1,11.1,17.928,6.834,6.834,0,0,1,17.928,11.1m0-3.594A10.426,10.426,0,1,0,28.354,17.928,10.438,10.438,0,0,0,17.928,7.5" transform="translate(3.012 3.013)" fill="#efefef" stroke="#efefef" stroke-width="1"/>
                              </g>
                            </g>
                        </svg>
                      </i>
                  </a>  
                </li>
              </ul>
            </ul>
          </div>
        </ul>
        <!--<div class="pc_menu d-flex">
          <a href="/cart">
            <span class="navbar-text ">
              <i class="fas fa-shopping-cart fa-lg"></i>
            </span>
            <span class="navbar-text ">
              カート({{cart.item_count}})
            </span>
          </a>
          <form class="search" action="/search">
            <div class="input-group ml-2">
              <input type="text" class="form-control" placeholder="検索" name="q" value="{{ search.terms | escape }}">
              <span class="input-group-btn">
                <button type="submit  " class="btn btn-primary">検索<i class="fas fa-search"></i></button>
              </span>
            </div>
          </form>
        </div>-->
      </div>
    </nav>
  </header>

{% schema %}
{
 "name": "header",
 "settings": [
  {
   "type": "image_picker",
   "id": "image_box",
   "label": "画像を選ぶ"
  },
  {
    "type" : "url",
    "id" : "top_url",
    "label" : "メニューロゴ"
  },
  {
    "type" : "image_picker",
    "id" : "menu_logo",
    "label" : "メニューロゴ"
  },
  {
    "type" :"url",
    "id":"twitter",
    "label" : "メニューtwitterリンク"
  },
  {
    "type" :"url",
    "id":"instagram",
    "label" : "メニューinstagramリンク"
  }
 ],

"presets": [
  {
   "name": "テスト画像",
   "category": "画像"
  }
 ]
}
{% endschema %}
